$navbar-brand-padding-y: 0;
$font-size-base: 1.2rem;
$blue: #1c3144;
$dark: #1c3144;
$link-color: #007bff;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~ryoko-headers/scss/ryoko";
@import "~leaflet/dist/leaflet.css";

.img-contain {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.map {
  height: 70vh;
}

.map-sm {
  height: 50vh;
}

#shareAPIPolyfill-backdrop {
  z-index: 1000;
}

#shareAPIPolyfill-container {
  z-index: 1001;
}
